body{
    
    font-family: 'Roboto', sans-serif;
    background:linear-gradient(to left, #7fffd4,#ffffff61);
}
#containter{
    background: #26da77;
    width:360px;
    margin:0 auto;
    margin-top:5%;
    box-shadow: 1px 1px 11px 1px green;
}
h1{
    background-color: greenyellow;
    padding: 10px;
    text-transform: uppercase;
    margin: 0;
}

.completed{
    color:gray;
    text-decoration: line-through;
}
.fa-plus{
    float: right;
    cursor: pointer;
    }
input{
    width: 100%;
    padding: 4% 10%;
    box-sizing: border-box;
    font-size: 20px;
    color:green;
    border: black;
    outline: none;
    
}
input:focus{
    background-color: dimgray;
    border: green;
    color:white;
}
span{
    background-color: white;
    box-sizing: border-box;
    width:0;
    height:100%;
    font-size:20px;
    display: inline-block;
    transition: all .2s linear;
    opacity:0;
    text-align: center;
    margin-right: 20px;
    
}
.far{
    cursor: pointer;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
li{
    
    box-sizing: border-box;
    height: 60px;
    line-height: 60px;
    margin: 0;
    font-size:18px;
    
}
li:nth-child(2n){
    background-color: aquamarine;
}
li:hover span{
    width:60px;
    opacity:1;   
}
